* {
    margin: 0 auto;
    padding: 0;
}
body {
    background-color: #F0F8FF;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    background: #1e293b;
    padding: 30px;
    margin-bottom: 40px;
}
.header a {
    text-decoration: none;
    color: white;
}
h1 {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;

}
label {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 15px;
}
.container {
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
    padding: 50px;
    border-radius: 15px;
    background-color: #F0F8FF;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.2);
}
button {
    background-color: #1e90ff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
button:hover {
    background-color: #70a1ff;
    cursor: pointer;
}
@media (max-width: 768px) {

    .header {
        padding: 20px;
        text-align: center;
    }

    h1 {
        font-size: 22px;
    }

    .container {
        width: 95%;
        padding: 25px;
        margin: 20px auto;
    }

    label {
        font-size: 16px;
    }

    input {
        padding: 8px;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }
}
