body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F8FF;
    font-family: Arial, sans-serif;

}
h3 {
    color: #1e90ff;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.summary-card {
    display: flex;
    gap: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.card-content {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
     box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}
.Task-container {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.Task-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.Task-table thead {
    background-color: #1e90ff;
    color: white;
}

.Task-table th {
    padding: 15px;
    text-align: left;
    font-weight: 600;
}

.Task-table td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.Task-table tbody tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease;
}

.Task-table tbody tr:last-child td {
    border-bottom: none;
}
