* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F8FF;
    font-family: Arial, Helvetica, sans-serif;
}

.Vitals-container {
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
    padding: 50px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.2);
}

.Vitals-container h3 {
    color: #1e293b;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.dropdown-resident {
    margin-bottom: 30px;
}

.dropdown-resident label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #1e293b;
}

.dropdown-resident select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

.dropdown-resident select:focus {
    outline: none;
    border-color: #1e90ff;
    background-color: white;
}


.Record-vitals {
    display: flex;
    flex-direction: column;
}

.Record-vitals label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #1e293b;
    margin-top: 15px;
}

.Record-vitals input,
.Record-vitals textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

.Record-vitals input:focus,
.Record-vitals textarea:focus {
    outline: none;
    border-color: #1e90ff;
    background-color: white;
}

.Record-vitals textarea {
    resize: vertical;
    min-height: 120px;
}

.Record-vitals button {
    background-color: #1e90ff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Record-vitals button:hover {
    background-color: #70a1ff;
}

.Record-vitals button:active {
    background-color: #1e90ff;
    transform: scale(0.98);
}
