<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
    <link rel="stylesheet" href="/css/staff-dashboard.css">
    <link rel="stylesheet" href="/css/Task.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=face_4" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=face_6" />
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="header-left">
                <h1>Welcome Back, Laura!</h1>
            </div>
            <div class="header-right">
                <button class="log-out-btn">Log Out</button>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-title">Staff Dashboard</div>
            <div class="sidebar-menu">
                <ul>
                    <li><a th:href="@{/MyTask}">My Tasks</a></li>
                    <li><a th:href="@{/MyAssignedResidents}">My Assigned Residents</a></li>
                    <li><a th:href="@{/VitalLogging}">Vital Loggings</a></li>
                    <li><a th:href="@{/activitiesLogging}">Activities Logging</a></li>
                    <li><a th:href="@{/my-reports}">Reports</a></li>
                </ul>
            </div>
        </aside>
        <main class="main-content">
        <h3>My Tasks</h3>
        <div class="summary-card">
            <div class="card-content">
                <h4>Pending Tasks</h4>
                <P>10</P>
            </div>
            <div class="card-content">
                <h4>Completed Tasks</h4>
                <P>3</P>
            </div>
        </div>
        <div class="Task-container">
            <table class="Task-table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Resident</th>
                        <th>Room</th>
                        <th>Time</th>
                        <th>Priority</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Administer Medication</td>
                        <td>John Smith</td>
                        <td>Room 101</td>
                        <td>09:00 AM</td>
                        <td>High</td>
                        <td><button>Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </main>
    </div>
</body>
</html>