<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Staff - Admin Dashboard</title>
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="css/staff.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <script src="js/admin.js"></script>
        </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-symbols-outlined">menu</span>
                 
                    </div>
            <div class="header-left">
               <h1>Staff Management</h1> 
            </div>
            <div class="header-right">
                <span class="material-symbols-outlined">account_box</span> 
            </div>
                
            </header>
            <aside id="sidebar">
                <div class="sidebar-title">
                    
                    <div><h3>BlossomHomes</h3></div>
                    <span class="material-symbols-outlined" onclick="closeSideBar()">close</span>
                </div>
                 <ul class="sidebar-list">
                    <li class="sidebar-list-item"><a th:href="@{/admin-dashboard}">Dashboard</a></li>
                    <li class="sidebar-list-item"><a th:href="@{/residents}">Residents</a></li>
                    <li class="sidebar-list-item"><a th:href="@{/staffs}" class="active">Staff Management</a></li>
                    <li class="sidebar-list-item"><a th:href="@{/medical}">Medical Records</a></li>
                    <li class="sidebar-list-item"><a th:href="@{/billingreports}">BillingReports</a></li>
                    <li class="sidebar-list-item"><a th:href="@{/settings}">Settings</a></li>
                    <li class="sidebar-list-item"><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </aside>
            <main class="main-container">
                <div class="staff-header">
                    <h2>Staff Management</h2>
                        <a th:href="@{/addStaff}" class="add-staff-btn">
                        <span class="material-symbols-outlined">add</span>
                        Add New Staff
                </a>
                </div>

                <div class="staff-table-container">
                    <table class="staff-table">
                        <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th >Contact</th>
                                <th >Email</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <tr th:each="staff :${staffs}">
                                <td th:text="${staff.id}"></td>
                                <td th:text="${staff.name}"></td>
                                <td th:text="${staff.phoneNumber}"></td>
                                <td th:text="${staff.email}"></td>
                                <td th:text="${staff.status}"><span class="status-badge status-active">Active</span></td>
                                <td class="action-buttons">
                                    <a th:href="@{/editStaff(id=${staff.id})}" class="btn-edit" title="edit"><span class="material-symbols-outlined">edit</span></a>
                                    <button class="btn-view" title="View"><span class="material-symbols-outlined">visibility</span></button>
                                    <form th:action="@{/staffs/delete(id=${staff.id})}" method="post" style="display: inline;">
                                    <button class="btn-delete" title="Delete"><span class="material-symbols-outlined">delete</span></button>
                                    </form>
                                </td>
                                
                                
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </main>
        </div>

    </body>
</html>
